.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 $spacing-xl;
  background: rgba($dark, 0.8);
  background: linear-gradient(to bottom, rgba($gold, 0.3), rgba($dark, 0.3));
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba($gold, 0.08);
  position: sticky;
  top: 0;
  z-index: $z-navbar;


  @include mobile {
    padding: 0 $spacing-md;
  }
}

.roleLabel {
  font-family: $font-condensed;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: rgba($gray, 0.2);

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;

}

.right {
  display: flex;
  align-items: center;
  gap: $spacing-md;

}

.greeting {
  font-size: 0.9rem;
  color: $gray;
  filter: drop-shadow(2px 2px 1px rgba($black, 1));


  strong {
    color: $white;
    font-weight: 600;

  }

  @include mobile {
    //display: none;
  }
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba($gold, 0.15);
  border: 1px solid rgba($gold, 0.3);
  color: $gold;
  font-family: $font-display;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoutBtn {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  padding: $spacing-md;
  margin: $spacing-sm;
  color: $gray;
  //font-family: $font-condensed;
  font-size: 0.9rem;
 // border-top: 1px solid rgba($white, 0.05);
  transition: color $transition-fast;
  white-space: nowrap;

  &:hover { color: $error; }

   @media (max-width: 500px) { 
    .textBtn {display: none;}
   }
}